h1 {
    color: tomato;
}

img {
    width: 400px;
}

#thirdDiv {
    height: 600px;
    width: 500px;
    background-color: aquamarine;
    padding: 50px;
    border: 5px, tomato;
}

#spanId {
    font-size: 18px;
    margin: 50px;
}

body {
    background-image: url("https://w7.pngwing.com/pngs/1008/972/png-transparent-goku-gohan-videl-chi-chi-trunks-goku-fictional-character-trunks-cartoon-thumbnail.png") ;
}

div {
    margin: auto;
}

html {
    margin: auto;
    height: 600px;
    width: 500px;
    text-align: justify
}